---
export const prerender = false;
import BlogIndexPage from "../../components/blog/BlogIndexPage.tsx";
import "../../styles/blog.css";
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mailinfra Blog</title>
  </head>
  <body>
    <BlogIndexPage client:load />
  </body>
</html>