---
export const prerender = false;
import BlogPostPageComponent from "../../components/blog/BlogPostPageComponent.tsx";
import "../../styles/blog.css";

const { slug } = Astro.params;
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mailinfra Blog</title>
  </head>
  <body>
    <BlogPostPageComponent client:load slug={slug!} />
  </body>
</html>